<%= stylesheet_link_tag 'sinndannindex', :media => "all" %>

<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>音楽診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>
<div class="conteiner1">
    <body>
        <h1 class="headline">
            <a>音楽診断</a>
        </h1>
        <div class="start">
            <h3>Are you ready?</h3>
            <a href="perfumes/new" class="btn btn--yellow btn--cubic">START！</a> 
        </div>
    </body>
</div>