<%= stylesheet_link_tag 'sinndannshow', :media => "all" %>

<div class="intoro">
    <h1>診断結果</h1>
    <p>あなたにおすすめの曲は…</p>
</div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @perfume.question == "1111" %>
                <h3>SET ME FREE</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/w4cTYnOPdNk?si=2hh3q9bnXApzpE1u" allowfullscreen></iframe>
                <p>2023.3.10 Release</p>

                <% elsif @perfume.question == "1112" %>
                <h3>Talk that Talk</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/k6jqx9kZgPM?si=jQnfo3SiOsYESWe0" allowfullscreen></iframe>
                <p>2023.8.26 Release</p>

                <% elsif @perfume.question == "1121" %>
                <h3>CRAZY STUPID LOVE</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/VoTpFiAwqK4?si=W1Nv7y2zgTmqfMwT" allowfullscreen></iframe>
                <p>2023.3.10 Release</p>

                <% elsif @perfume.question == "1122" %>
                <h3>When We Were Kids</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/nEuRhtp6u8k?si=dcUkKF3ke26eAdy4" allowfullscreen></iframe>
                <p>2023.8.26 Release</p>

                <% elsif @perfume.question == "1211" %>
                <h3>Perfect World</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/fmOEKOjyDxU?si=qWhRDFROGDWCxVSB" allowfullscreen></iframe>
                <p>2021.6.30 Release</p>

                <% elsif @perfume.question == "1212" %>
                <h3>Hare Hare</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/pnG-FJGWlVk?si=CgBIYsSerLfDLJNG" allowfullscreen></iframe>
                <p>2023.5.31 Release</p>

                <% elsif @perfume.question == "1221" %>
                <h3>PIECES OF LOVE</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/jNuwG28bAd0?si=ry1-8MZHeeA7rlzW" allowfullscreen></iframe>
                <p>2021.7.28 Release</p>

                <% elsif @perfume.question == "1222" %>
                <h3>Just be yourself</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/7LBqr_sjsys?si=RNzFSvPIZXvbZeso" allowfullscreen></iframe>
                <p>2022.3.22 Release</p>

                <% elsif @perfume.question == "2111" %>
                <h3>FANCY</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/kOHB85vDuow?si=i_5UmxqHc2OXJt5Q" allowfullscreen></iframe>
                <p>2019.4.22 Release</p>

                <% elsif @perfume.question == "2112" %>
                <h3>Dance The Night Away</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/Fm5iP0S1z9w?si=BOlbCOxGVT5bAbGW" allowfullscreen></iframe>
                <p>2018.7.9 Release</p>

                <% elsif @perfume.question == "2121" %>
                <h3>ONE IN A MILLION</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/715h-XJ9Wzg?si=0YiNErml625UHNv4" allowfullscreen></iframe>
                <p>2017.2.20 Release</p>

                <% elsif @perfume.question == "2122" %>
                <h3>The Best Thing I Ever Did</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/CfUGjK6gGgs?si=Z2eC8rEN-wd2yfwS" allowfullscreen></iframe>
                <p>2018.12.12 Release</p>

                <% elsif @perfume.question == "2211" %>
                <h3>Breakthrough</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/ZdKYi5ekshM?si=ixQepSC5IUAgSuFm" allowfullscreen></iframe>
                <p>2019.6.12 Release</p>

                <% elsif @perfume.question == "2212" %>
                <h3>Wake Me Up</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/DdLYSziSXII?si=JaJHrYAuJUoMO1Qr" allowfullscreen></iframe>
                <p>2012.4.25 Release</p>

                <% elsif @perfume.question == "2221" %>
                <h3>Be as ONE</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/LsSZbRReWNY?si=G3odShMebQJyJrIL" allowfullscreen></iframe>
                <p>2018.9.12</p>

                <% elsif @perfume.question == "2222" %>
                <h3>STAY BY MY SIDE</h3>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/96K5RxgTfW4?si=wSOPD4MJ3pHtR5-i" allowfullscreen></iframe>
                <p>2018.10.22 Release</p>

                <% end %>
            </div>
        </div>