.field{
    text-align: center;
    margin: 30px
}

.sinnkitoukou{
    margin: 50px auto;
    width: 50%;
    border: solid #FCCFA6;
    border-radius: 10px;
    text-align: center;
    background-color: #FCCFA6;
}

input[type="submit"] {
    width: 200px;
    font-size: 20px;
}

