input[type="submit"] {
    width: 200px;
    font-size: 20px;
}

.container-sindan{
    text-align: center;
}

.col-12{
    margin:20px;
    font-size: 25px;
}

.col-6{
    display:inline-block;
    margin:15px;
    font-size:20px
}